[Unit]
PartOf=syslog-rx.service

[Socket]
Backlog=1024
DeferAcceptSec=10
ReusePort=yes
ListenStream=514
ListenDatagram=514

[Install]
WantedBy=sockets.target
