[Unit]
Requires=syslog-rx.socket

[Service]
Restart=always
ExecStart=/usr/local/bin/syslog-rx

LimitMEMLOCK=512K

ProtectProc=noaccess
DynamicUser=yes
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectHome=yes
ProtectClock=yes
PrivateUsers=yes

[Install]
WantedBy=multi-user.target
